POSTGRES_DB=luma
POSTGRES_USER=luma
POSTGRES_PASSWORD=luma_dev_password
POSTGRES_HOST_PORT=5433
REDIS_HOST_PORT=6379
# Local Docker: redis:6379
# Redis Cloud/Render: host:port,user=default,password=sua_senha
REDIS_CONNECTION_STRING=redis:6379
API_HOST_PORT=5050
WEB_HOST_PORT=3000
ASPNETCORE_ENVIRONMENT=Development
LUMA_STORE_MESSAGE_BODIES=false
LUMA_REQUIRE_ACTIVE_SUBSCRIPTION=true
LUMA_JWT_SIGNING_KEY=luma-dev-jwt-signing-key-change-me-please
LUMA_WEB_BASE_URL=http://localhost:3000
LUMA_RATE_LIMIT_WINDOW_SECONDS=30
LUMA_RATE_LIMIT_MAX_MESSAGES=5
LUMA_RATE_LIMIT_COOLDOWN_SECONDS=60
LUMA_MESSAGE_LOCK_SECONDS=25
LUMA_DEDUPLICATION_SECONDS=300
OPENAI_API_KEY=
OPENAI_BASE_URL=https://api.openai.com/v1
OPENAI_MODEL=gpt-5.4-mini
OPENAI_IMAGE_MODEL=gpt-image-1
OPENAI_TIMEOUT_SECONDS=12
OPENAI_MAX_OUTPUT_TOKENS=700
OPENAI_REASONING_EFFORT=none
R2_ACCOUNT_ID=52ed8799dba98c8a90611db618a89e3e
R2_BUCKET_NAME=luma
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_ENDPOINT=https://52ed8799dba98c8a90611db618a89e3e.r2.cloudflarestorage.com
R2_PUBLIC_BASE_URL=https://pub-7621f98d02d741da84d6fd1b054da6d5.r2.dev
R2_BABY_IMAGE_PREFIX=baby-image-generation
R2_IMAGE_RETENTION_DAYS=1
R2_IMAGE_GENERATION_TIMEOUT_SECONDS=60
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_WHATSAPP_FROM=whatsapp:+14155238886
TWILIO_TEMPLATE_PERIOD_TOMORROW=
TWILIO_TEMPLATE_PERIOD_TODAY=
TWILIO_TEMPLATE_CONTRACEPTIVE_DAILY=
TWILIO_TEMPLATE_SYMPTOM_CHECKIN=
NOTIFICATIONS_WORKER_ENABLED=false
NOTIFICATIONS_WORKER_INTERVAL_SECONDS=60
NEXT_PUBLIC_API_BASE_URL=http://localhost:5050
NEXT_PUBLIC_LUMA_WHATSAPP_NUMBER=+14155238886
LUMA_API_BASE_URL=http://api:8080
LUMA_COOKIE_SECURE=false
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_coloque_sua_chave_publicavel
STRIPE_SECRET_KEY=sk_test_coloque_sua_chave_secreta
STRIPE_BASIC_PRICE_ID=
STRIPE_ESSENTIAL_PRICE_ID=
STRIPE_WEBHOOK_SECRET=whsec_coloque_o_signing_secret_do_webhook
